{% extends "base.html" %}
{% block title %}Quienes somos{% endblock %}

{% block content %}
  <h1>Quienes Somos</h1>
  <p>Somos una cevicheria dedicada a la preparacion de la comida costeña.</p>
  <p>Especializados en dar una sazon unica de la ciudad.</p>
  <p>Con un personal altamente calificado para brindarte la mejor atencion y experiencia.</p>

  <section class="container my-5">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card h-100">
          <img src="static/img/yo.jpg" class="pequena" alt="Propietaria">
          <div class="card-body">
            <h3 class="card-title">Propietaria</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
